.places { 
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: calc(100vw - 296px);
    margin: 88px auto 92px;
    justify-content: center;
    gap: 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    max-width: calc(100vw - 96px);
    margin: 88px auto 92px;
    gap: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: calc(100vw - 48px);
    margin: 88px auto 92px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: calc(100vw);
    margin: 65px auto 66px;
    gap: 50px;
  }
}
