@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: calc(100vw - 48px);
    margin: 28px auto 46px;
  }

  .header__lang-link {
    text-decoration: none;
    color: #fff;
    width: 30px;
    height: 28px;
    text-decoration: center;
    position: absolute;
    font-size: 24px;
    line-height: 1.17;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    text-align: right;
  }

  .header__logo {
    width: 176px;
    min-height: 52px;
  }

  .lang-link_pos_1 {
    top: 46px;
    right: 71px;
    text-decoration: underline;
  }

  .lang-link_pos_2 {
    top: 46px;
    right: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    max-width: calc(100vw);
    margin: 0;
    overflow: hidden;
  }

  .lead__title {
    max-width: calc(100vw - 48px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
  }

  .lead__subtitle {
    max-width: calc(100vw - 128px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    margin: 31px auto 56px;
  }

  .lead__image {
    max-width: 100%;
    min-height: 480px;
    box-sizing: border-box;
  }

  .lead__caption {
    max-width: 158px;
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 7px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: calc(100vw - 48px);
    margin: 88px auto 90px;
  }

  .intro__title {
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
  }

  .intro__text {
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
    margin-top: 40px;
  }

  .intro__list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-top: 31px;
  }

  .list__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: white;
    margin: 0;
  }

  .intro__span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100vw - 48px);
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 16px 16px;
  }

  .photo-grid__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: calc(100vw - 48px);
    margin: 84px auto 92px;
    display: flex;
    flex-wrap: wrap;
    gap: 73px;
  }
  .place {
    max-width: calc(100vw - 48px);
    display: grid;
    gap: 44px 28px;
    grid-template-columns: 340px 352px;
    grid-template-rows: auto;
    margin: 0 auto;
  }

  .place__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.1;
    color: #fff;
    margin: 0;
  }

  .place__title_text {
    padding: 10px;
  }

  .place__image {
    width: 100%;
    max-height: 340px;
  }

  .place__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #fff;
    margin: 0;
  }

  .place__paragraph:nth-child(1) {
    margin-bottom: 25px;
  }

  .place__website {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
  }

  .website__url-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
  }

  .website__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    text-decoration: underline;
    margin: 0;
    margin-top: 12px;
  }

  .website__link:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    max-width: calc(100vw);
    min-height: 480px;
    margin: 0 auto 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    position: relative;
  }

  .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #2a2c2f;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .cover:hover::before {
    opacity: 0.8;
    background: #2a2c2f;
  }

  .cover__title {
    max-width: calc(100vw - 208px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #ffffff;
    margin: 0;
    position: relative;
  }

  .cover__subtitle {
    max-width: calc(100vw - 408px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #ffffff;
    margin: 0;
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: calc(100vw - 48px);
    margin: 0 auto;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .footer__list {
    list-style-type: none;
    padding: 0;
    flex-direction: row;
    display: flex;
    gap: 18px;
    margin: 0;
  }

  .footer__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #ffffff;
    text-decoration: none;
  }

  .footer__link:hover {
    cursor: pointer;
  }

  .footer__copyright {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
    color: #fff;
    margin: 0;
  }
}
