.page { 
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1280px){ 
    

.header { 
    max-width: calc(100vw - 96px);
    margin: 28px auto 53px;
}

.header__lang-link { 
    text-decoration: none;
    color: #fff; 
    width: 30px;
    height: 28px;
    text-decoration: center;
    position: absolute;
    font-size: 24px; 
    line-height: 1.2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.header__logo { 
    width: 176px; 
    height: 52px;
}

.lang-link_pos_1 { 
    top: 46px;
    right: 95px;
    text-decoration: underline; 
}

.lang-link_pos_2 { 
    top: 46px; 
    right: 48px;
}
}

@media screen and (max-width: 1280px){

.lead { 
max-width: calc(100vw - 296px);
margin: 53px auto 0;
}

.lead__title { 
max-width: calc(100vw - 560px);
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
text-align: center; 
line-height: 1.2;
margin: 0px auto;
}

.lead__subtitle { 
max-width: calc(100vw - 640px);
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
margin: 0 auto;
margin-top: 35px;
margin-bottom: 64px;
line-height: 1.2;
text-align: center;
}

.lead__image { 
width: 984px;
height: 615px; 
margin: 0 auto;
}

.lead__caption {
max-width: 160px; 
min-height: 14px;
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 1.4;
letter-spacing: 1.5px;
text-transform: uppercase;
margin: 0;
margin-top: 8px;
}
}

@media screen and (max-width: 1280px){
    .intro { 
        max-width: calc(100vw - 590px);
        margin-left: 148px;
        margin-top: 92px;
    }

    .intro__title { 
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 1.2;
margin: 0;
    }

    .intro__text { 
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
margin: 0;
margin-top: 40px;
    }

    .intro__list { 
padding: 0;
list-style-type: none; 
margin: 0;
margin-top: 33px;
    }

    .list__text { 
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
        color: white;
        margin: 0;
    }

    .list_span { 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
    }
}
