.page { 
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1280px){ 
    

.header { 
    max-width: calc(100vw - 96px);
    margin: 28px auto 53px;
}

.header__lang-link { 
    text-decoration: none;
    color: #fff; 
    width: 30px;
    height: 28px;
    text-decoration: center;
    position: absolute;
    font-size: 24px; 
    line-height: 1.2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.header__logo { 
    width: 176px; 
    height: 52px;
}

.lang-link_pos_1 { 
    top: 46px;
    right: 95px;
    text-decoration: underline; 
}

.lang-link_pos_2 { 
    top: 46px; 
    right: 48px;
}
}

@media screen and (max-width: 1280px){


}