@media screen and (min-width: 1024px) and (max-width: 1279px) { 
    .header { 
        max-width: calc(100vw - 96px);
        margin: 28px auto 48px;
    }

    .header__lang-link { 
        text-decoration: none;
        color: #fff; 
        width: 30px;
        height: 28px;
        text-decoration: center;
        position: absolute;
        font-size: 24px; 
        line-height: 1.2;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        text-align: right;
    }
    
    .header__logo { 
        width: 176px; 
        min-height: 52px;
    }
    
    .lang-link_pos_1 { 
        top: 46px;
        right: 95px;
        text-decoration: underline; 
    }
    
    .lang-link_pos_2 { 
        top: 46px; 
        right: 48px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) { 
            .lead { 
                max-width: calc(100vw - 96px);
                margin:0 auto 0;
                overflow: hidden;
                }
                
                .lead__title { 
                max-width: calc(100vw - 304px);
                font-family: 'Inter';
                font-style: normal;
                font-weight: 900;
                font-size: 96px;
                line-height: 1.06;
                text-align: center;
                color: #FFFFFF;
                margin: 0 auto;
                }
                
                .lead__subtitle { 
                max-width: calc(100vw - 384px);
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 1.08;
                text-align: center;
                color: #FFFFFF;
                margin: 34px auto 56px;
                }
                
                .lead__image { 
                max-width: 100%;
                min-height: 580px;
                box-sizing: border-box;
                }
                
                .lead__caption {
                max-width: 158px; 
                color: #fff;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 1.4;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                margin: 0;
                margin-top: 8px;
                }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){ 
.intro { 
    max-width: calc(100vw - 334px);
    margin-left: 48px;
    margin-top: 92px;
}

.intro__title { 
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 1.07;
margin: 0;
}

.intro__text { 
color: #fff;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.63;
margin: 0;
margin-top: 40px;
}

.intro__list { 
padding: 0;
list-style-type: none; 
margin: 0;
margin-top: 33px;
}

.list__text { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: white;
    margin: 0;
}

.intro__span { 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) { 
    .photo-grid { 
        max-width: calc(100vw - 96px);
        margin: 92px auto 0px; 
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-auto-rows: min-content;
        gap: 14px 14px;
    }

    .photo-grid__item { 
        width: 100%;
    } 
}

@media screen and (min-width: 1024px) and (max-width: 1279px) { 
    .places {
        max-width: calc(100vw - 96px);
        margin:88px auto 92px;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
    }
    .place { 
        max-width: calc(100vw - 96px);
        display: grid; 
        gap: 48px 32px;
        grid-template-columns: 440px 456px;
        grid-template-rows: auto;
        margin: 0 auto;
    }


    .place__title { 
        font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 1.06;
color: #fff;
margin: 0;
    }

    .place__image { 
        width: 440px;
        height: 440px;
    }

    .place__paragraph { 
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.63;
color: #fff;
margin: 0;
    }

    .place__paragraph:nth-child(1) {
        margin-bottom: 27px;
    }

    .place__website { 
        display: flex;
       justify-content: end;
       align-items: start;
       flex-direction: column;
    }

    .website__url-heading { 
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1;
color: #fff;
letter-spacing: 2px;
margin: 0;
    }

    .website__link { 
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.22;
color: #fff;
text-decoration: underline;
margin: 0;
margin-top: 12px;
    }

    .website__link:hover { 
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) { 
    .cover { 
        max-width: calc(100vw);
        min-height: 640px;
        margin: 0 auto 92px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        background-image: url(./images/cover-trains.jpg);
        background-size: cover;
        position: relative;
    }

    .cover::before { 
        content: "";
        position: absolute;
        width: 100%;
        background-color: #2A2C2F;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .cover:hover::before {
        opacity: 0.8;
        background: #2A2C2F; 
        
    }

    .cover__title { 
        max-width: calc(100vw - 464px);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 1.06;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        position: relative;
    }

    .cover__subtitle {  
        max-width: calc(100vw - 664px);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.22;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        position: relative;
    } 
}

@media screen and (min-width: 1024px) and (max-width: 1279px){ 
    .footer { 
        max-width: calc(100vw - 96px);
margin: 0 auto;
margin-bottom: 24px;
position: relative;
display: flex;
justify-content: space-between;
    }

    .footer__list { 
        list-style-type: none;
        padding: 0;
        flex-direction: row;
        display: flex;
        gap: 18px;
        margin: 0;
        
    }

    .footer__link { 
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.12;
        color: #FFFFFF;
        text-decoration: none;
    }

    .footer__link:hover { 
        cursor: pointer;
    }
    
    .footer__copyright { 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
text-align: right;
color: #fff;
margin: 0;

    }
}