
@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead {
    max-width: calc(100vw);
    margin: 0;
    overflow: hidden;
  }

  .lead__title {
    max-width: calc(100vw - 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
  }

  .lead__subtitle {
    max-width: calc(100vw - 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #ffffff;
    margin: 18px auto 42px;
  }

  .lead__image {
    max-width: 100%;
    min-height: 200px;
    box-sizing: border-box;
  }

  .lead__caption {
    min-width: 158px;
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 6px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    max-width: calc(100vw - 32px);
    margin: 64px auto 64px;
  }

  .intro__title {
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    margin: 0;
  }

  .intro__text {
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
    margin-top: 42px;
  }

  .intro__list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-top: 31px;
  }

  .list__text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: white;
    margin: 0;
  }

  .intro__span {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100vw - 32px);
    margin: 0 auto 0;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto;
    gap: 12px;
  }

  .photo-grid__item {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    max-width: calc(100vw);
    margin: 65px auto 66px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .place {
    max-width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto;
    margin: 0 auto;
  }

  .place__title {
    min-width: calc(100vw - 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.1;
    color: #fff;
    margin: 0 auto;
  }

  .place__image {
    width: 100%;
    max-height: 320px;
  }

  .place__paragraph {
    max-width: calc(100vw - 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #fff;
    margin: 0 auto;
  }

  .place__paragraph:nth-child(1) {
    margin-bottom: 25px;
  }

  .place__website {
    min-width: calc(100vw - 32px);
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    margin-left: 16px;
    gap: 12px;
  }

  .website__url-heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
  }

  .website__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
    text-decoration: underline;
    margin: 0;
  }

  .place__website .website__link:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    max-width: calc(100vw);
    min-height: 200px;
    margin: 0 auto 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    position: relative;
  }

  .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #2a2c2f;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .cover:hover::before {
    opacity: 0.8;
    background: #2a2c2f;
  }

  .cover__title {
    max-width: calc(100vw - 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    color: #ffffff;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .cover__subtitle {
    max-width: calc(100vw - 32px);
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #ffffff;
    margin: 0;
    position: relative;
  }

  .cover__link {
    text-decoration: none;
    color: #fff;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    max-width: calc(100vw - 134px);
    margin: 0;
    margin-left: 16px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer__list {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    gap: 32px;
    margin: 0;
  }

  .footer__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
  }

  .footer__link:hover {
    cursor: pointer;
  }

  .footer__copyright {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    margin: 0;
    margin-top: 48px;
    text-align: left;
  }
}
