.cover__subtitle {
 font-family: "Inter", serif;
 font-style: normal;
 font-weight: 400;
 text-align: center;
 color: #ffffff;
 margin: 0;
 position: relative;
}

@media screen and (min-width: 1280px) {
 .cover__subtitle {
  max-width: calc(100vw - 920px);
  font-size: 18px;
  line-height: 1.3;
 }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
 .cover__subtitle {
  max-width: calc(100vw - 664px);
  font-size: 18px;
  line-height: 1.22;
 }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
 .cover__subtitle {
  max-width: calc(100vw - 408px);
  font-size: 18px;
  line-height: 1.22;
 }
}

@media screen and (max-width: 767px) {
 .cover__subtitle {
  max-width: calc(100vw - 32px);
  font-size: 14px;
  line-height: 1.14;
 }
}
