@media screen and (min-width: 1280px) {
    .lead__title {
      max-width: calc(100vw - 560px);
      color: #fff;
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      text-align: center;
      line-height: 1.05;
      margin: 0px auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
      max-width: calc(100vw - 304px);
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      line-height: 1.06;
      text-align: center;
      color: #ffffff;
      margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
      max-width: calc(100vw - 48px);
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      line-height: 1.04;
      text-align: center;
      color: #ffffff;
      margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .lead__title {
      max-width: calc(100vw - 32px);
      font-family: "Inter";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 1.1;
      text-align: center;
      color: #ffffff;
      margin: 0 auto;
    }
}  