@media screen and (min-width: 1280px) {
  .intro {
    max-width: calc(100% - 590px);
    margin-left: 148px;
    margin-top: 87px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    max-width: calc(100vw - 334px);
    margin-left: 48px;
    margin-top: 92px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    max-width: calc(100vw - 48px);
    margin: 88px auto 90px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(100vw - 32px);
    margin: 64px auto 64px;
  }
}
