.cover__title {
 font-family: "Inter", serif;
 font-style: normal;
 font-weight: 900;
 text-align: center;
 color: #ffffff;
 margin: 0;
 position: relative;
}

@media screen and (min-width: 1280px) {
 .cover__title {
  max-width: calc(100% - 720px);
  font-size: 72px;
  line-height: 1.06;
 }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
 .cover__title {
  max-width: calc(100vw - 464px);
  font-size: 72px;
  line-height: 1.06;
 }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
 .cover__title {
  max-width: calc(100vw - 208px);
  font-size: 72px;
  line-height: 1.06;
 }
}

@media screen and (max-width: 767px) {
 .cover__title {
  max-width: calc(100vw - 32px);
  font-size: 32px;
  line-height: 1.09;
 }
}
